## This is a sample '.env' file.  It contains environment variables
## that the project can use when building the site.  By default,
## Eleventy won't expose environment variables to templates -- they
## need to be manually extracted from the environment and added
## as global data (e.g., `via addGlobalData()` in a JavaScript file).
##
## Variables set here take precedence over values specified in
## configuration files (e.g., '_data/site.yaml`).  Variables
## that are set in the actual environment (not just this file)
## take precedence over variables set here.
##
## Because '.env' files often contain values that are best left
## not exposed to the world, it's common to exclude '.env' files
## from Git repositories.  Moreover, it's generally not helpful
## to have one's local configuration wiped out when they fetch
## updates from an upstream repository.  Therefore, this sample
## file is named 'env.sample' instead of '.env'.
##
## This values specified here aren't considered a security
## concern if they were publicly available (e.g., in a public
## Git repository).  That said, it's considered preferable by
## some to extract values like credentials, tokens, API keys,
## etc. out of source code and, instead, provide them at runtime.
## In addition to enhanced security stance, this also helps
## developers test their changes without fear of pushing test
## data into analytics, for example.

# GA is the Google Analytics ID used in conjunction with DAP; it
# is accessed via global 'site.ga' variable.
GA=G-xxxxxxxx

# DAP_AGENCY is the 'agency' provided to DAP; it is accessed via
# the global 'site.dap.agency' variable.
DAP_AGENCY=XXXX

# DAP_SUBAGENCY is the 'subagency' provided to DAP; it is accessed
# via the global 'site.dap.subagency' variable.
DAP_SUBAGENCY=XXXX

# TWITTER is the X (formerly Twitter) handle associated with the
# site; it's accessed via the global 'site.twitter' variable.
TWITTER=XXXXXX

# SEARCH_ACCESS_KEY is the access key used to interact with the
# Search.gov service; it is accessed via the global variable
# 'site.access_key'.
SEARCH_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=

# SEARCH_AFFILIATE is the affiliate id used to tag pages so
# that Search.gov can collate groups of related pages; it's
# accessed via the global 'site.affiliate' variable.
SEARCH_AFFILIATE=xxxx-xxxx-xxxx
