---
layout: layouts/default
---

<div class="tts-title-banner">
  <h1>{{ title }}</h1>
</div>

{%- assign jobs = collections.job -%}
{%- assign sorted_info_sessions = global_info_sessions | sort: 'date' -%}
<section class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-12 margin-bottom-3">
        <p class="usa-intro margin-top-0">
          We’re looking for candidates who are passionate about helping agencies build, buy, and share technology to better serve the public. Our team focuses on all aspects of digital government including account management, software development, product management, procurement, design, content strategy, cloud migration, outreach, and operations.
        </p>
        <div class="usa-prose">
          <p>
          The Technology Transformation Services (TTS) mission is to design and deliver a digital government with and for the American public. TTS is part of the General Services Administration (GSA).
          </p>
          <p>
          We are accepting applications for the positions listed below. We also post upcoming positions. <a href="{{ '/join/newsletter/' | url }}" class="usa-link">Join our mailing list</a> to be notified when we post new jobs.
          </p>
        </div>
      </div>
    </div>
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-8 usa-prose">
        <h2 id="open-positions">Open positions</h2>
        <p>We are hiring and will be sharing upcoming jobs and open positions as they are available.</p>

        <ul>
          {% for pg in collections.jobs %}
          {% capture state %}{% getStateFromDates pg.data.opens pg.data.closes %}{% endcapture %}
            {% if state == "open" %}
              {% unless pg.data.path contains 'template' %}
                {% unless pg.data.path contains 'performance-profiles' %}
                  <li>
                    {% if pg.data.external_url %}
                    <a href="{{ pg.data.external_url }}" target="_blank">{{ pg.data.title }}</a>
                      {% else %}
                      <a href="{{ pg.url | url }}">{{ pg.data.title }}</a>
                    {% endif %}
                   (Open now {% if pg.data.weeks_open %}for {% if pg.data.weeks < 52 %}{{ pg.data.weeks }}{% else %} one year or until all selections have been made{% endif %},{% endif %} through {{ pg.data.closes | date: '%A, %B %e, %Y at 11:59pm' }} ET)
                   {% if pg.data.info_sessions and pg.data.info_sessions.size > 0 %}
                        <aside class="usa-alert usa-alert-info">
                          <div class="usa-alert-body">
                            <p>Upcoming info sessions for {{ pg.data.title }}</p>
                            <ul>
                              {% for session in pg.data.info_sessions %}
                                {% assign session_date = session.date | date: "%s" %}
                                {% assign now = 'now' | date: "%s" %}
                                {% if session_date > now %}
                                  <li>
                                    <p><a href="{{ session.link }}" target="_blank">{{ session.headline }}</a> at {{ session.time }}</p>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        </aside>
                      {% endif %}
                  </li>
                {% endunless %}
              {% endunless %}
            {% endif %}
          {% endfor %}
        </ul>

        <h2>Upcoming positions</h2>

        <ul>
          {% for pg in collections.jobs %}
            {% capture state %}{% getStateFromDates pg.data.opens pg.data.closes %}{% endcapture %}
            {% if state == "upcoming" %}
              {% unless pg.data.path contains 'template' %}
                {% unless pg.data.path contains 'performance-profiles' %}
                  <li>
                    {% if pg.data.external_url %}
                    <a href="{{ pg.data.external_url }}">{{ pg.data.title }}</a>
                      {% else %}
                      <a href="{{ pg.url | url }}">{{ pg.data.title }}</a>
                    {% endif %}
                    {% if pg.data.info_sessions and pg.data.info_sessions.size > 0 %}
                      <aside class="usa-alert usa-alert-info">
                        <div class="usa-alert-body">
                          <p>Upcoming info sessions for {{ pg.data.title }}</p>
                          <ul>
                            {% for session in pg.data.info_sessions %}
                              {% assign session_date = session.date | date: "%s" %}
                              {% assign now = 'now' | date: "%s" %}
                              {% if session_date > now %}
                                <li>
                                  <p><a href="{{ session.link }}" target="_blank">{{ session.headline }}</a> at {{ session.time }}</p>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      </aside>
                    {% endif %}
                  </li>
                {% endunless %}
              {% endunless %}
            {% endif %}
          {% endfor %}
        </ul>

        <h2>Other GSA Opportunities</h2>
        <p>Check out <a href="https://www.gsa.gov/about-us/find-apply-for-and-land-a-job-at-gsa">careers at GSA</a> and more <a href="https://www.usajobs.gov/Search/Results?j=2210&d=GS&p=1">Information Technology opportunities.</a></p>

        <h2>Application process</h2>
        <p>
          We have an amazing recruitment team who will usher you from application to interview to onboarding with TTS.
          You’ll have guidance every step of the way! Learn more about our <a href="{{site.baseurl}}/join/hiring-process">hiring process</a>.
        </p>
        <p>
          If you have any questions about the process or positions, please contact
          our Talent Team at <a href="mailto:joinTTS@gsa.gov">joinTTS@gsa.gov</a>.
        </p>
      </div>
      <div class="desktop:grid-col-4 margin-top-4 desktop:margin-top-0">
        <div class="usa-summary-box">
          <div class="usa-summary-box__body">
            <h3 class="usa-summary-box__heading">Find out more</h3>
            <div class="usa-summary-box__text">
              <p>Join us at one of our monthly online information sessions. Come learn more about working at TTS, available positions, and our application process. Register for a session below.</p>
              <ul>
                {% for session in sorted_info_sessions %}
                  {% if session.date > "now" | date: "%Y-%m-%d" %}
                    <li class="info-session">
                      <a target="_blank" href="{{ session.link }}" rel="noopener">{{ session.date }}</a>
                      <p>{{ session.time-et }}</p>
                      <p>({{ session.time-pt }})</p>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
