<div class="desktop:grid-col-4 margin-top-4 desktop:margin-top-0">
    <div class="usa-summary-box">
      <div class="usa-summary-box__body">
        <h3 class="usa-summary-box__heading">Join an info session</h3>
        <div class="usa-summary-box__text" id="global-info-sessions-wrapper">
          <p>Join us at one of our monthly online information sessions. Come learn more about working at TTS, available positions, and our application process. Register for a session below.</p>
        </div>
      </div>
    </div>
  </div>
