---
layout: layouts/default
---

<div class="tts-title-banner">
  <h1> {{ title }}</h1>
</div>

{%- assign sortedinfosessions = collections.info_sessions | where: "role", page.role_name | sort: 'date' -%}
<div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-12 margin-top-4">
        <a href="{{'/join' | url}}" class="back-breadcrumb">Back to all jobs</a>
    </div>
  </div>
</div>
<section class="usa-section job-posting padding-top-4">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-12 usa-prose margin-bottom-3">
        <h1>{{ title }}</h1>
      {% if state == "closed" %}
      <div class="usa-alert usa-alert-warning">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">This job posting has closed.</h3>
          <p class="usa-alert-text">Please see
          <a href="{{ '/join' | url }}">our other open positions</a>.</p>
        </div>
      </div>
      {% elsif state == 'upcoming' %}
      <div class="usa-alert usa-alert-info job-info">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Coming soon</h3>
          <p class="usa-alert-text"><a href="{{ site.baseurl }}/join/newsletter">Get notified</a> when this position opens.</p>
        </div>
      </div>
      {% elsif state == 'open' %}
      <div class="usa-alert usa-alert-info job-info">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Apply now!</h3>
          <p class="usa-alert-text">This role is open for applications until {{ closes }}.</p>
        </div>
      </div>
      {% endif %}
      <div class="grid-row grid-gap padding-top-4">
        <div class="desktop:grid-col-8 usa-prose" markdown="1">
            {{ content }}
        </div>
        <div class="sidebar desktop:grid-col-4 desktop:margin-top-0" style="order:1"></div>
      </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ assetPaths['in-page-nav.js'] }}"></script>