<!-- Open Jobs -->
<section class="open-jobs">
      <h2 id="open-positions">Open positions</h2>
      <p><b>Applications are now open for the 2025 U.S. Digital Corps cohort!</b></p>
      <p>The U.S. Digital Corps (USDC) is a full-time, two-year technology opportunity for recent graduates, career changers, Veterans, and more. <i>Interested applicants are encouraged to apply early due to the 400 application limit per track.</i></p>
Please review the application process and apply today!
      
      
      <p>We are hiring and will be sharing upcoming jobs and open positions as they are available.</p>
</section>

<section class="upcoming-jobs">
  <h2 id="upcoming-positions">Upcoming positions</h2>
</section>



