<!-- Hiring Events -->
<h2>Hiring events</h2>
<p>Look for us at the <a href="https://www.techtogov.org/events">Tech to Gov Virtual Hiring Forum + Job Fair</a> on Thursday, October 31, 2024 from 12:00 PM-4:00 PM ET (9:00 AM-1:00 PM PT).</p>
<p><b>Not able to attend Tech to Gov? No worries, everyone can apply to our upcoming roles!</b> Please <a href="https://events.zoomgov.com/ev/ApHdaoDfDk7vEPBDjo38kHFgRZVgNT1hP8JoTVG4fbRxDsQhSYOB~Aheq_usTUGVJQDT3DiExAiT56KGCpzdTya3C-fUkwKU8Ztl9roEQGVePll7K8UMzH5PaFUciKmLt8fG0Jk68AaFnyQ">join our information session</a> on Tuesday, October 29, 2024 from 4:00 PM-5:00 PM ET (1:00 PM-2:00 PM PT) to hear more.</p>

<!-- Open Jobs -->
<section class="open-jobs">
      <h2 id="open-positions">Open positions</h2>
      <p>We are hiring and will be sharing upcoming jobs and open positions as they are available.</p>
</section>

<section class="upcoming-jobs">
  <h2 id="upcoming-positions">Upcoming positions</h2>
</section>



