<ul>
    {% assign upcoming_job_count = 0 %}
    
    {% for pg in collections.jobs %}
      {% capture state %}{% getStateFromDates pg.data.opens pg.data.closes %}{% endcapture %}
      
      {% assign show_job = false %}
  
      {% if pg.data.title != "" %}
        {% if state == "upcoming" %}
          {% assign show_job = true %}
        {% elsif state == "unknown" %}
          {% assign show_job = true %}
        {% endif %}
      {% endif %}
  
      {% if show_job %}
        {% assign upcoming_job_count = upcoming_job_count | plus: 1 %}
        {% unless pg.data.path contains 'template' %}
          {% unless pg.data.path contains 'performance-profiles' %}
            <li>
              {% if pg.data.external_url %}
                <a href="{{ pg.data.external_url }}">{{ pg.data.title }}</a>
              {% else %}
                <a href="{{ pg.url | url }}">{{ pg.data.title }}</a>
              {% endif %}
  
              {% include "layouts/jointts/job-listing-info-sessions.html" %}
            </li>
          {% endunless %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  </ul>
  
  {% if upcoming_job_count == 0 %}
    <p>No upcoming positions at this time. Sign up for <a href="/join/newsletter/">job alerts!</a></p>
  {% endif %} 