{% comment %} 
Another text component to feature on a page such as the homepage
{% endcomment %}

<section class="usa-section usa-prose bg-base-lighter">
  <div class="grid-container grid-row">
    <div class="tablet:grid-col-8 padding-right-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">About Us</h2>
      <div class="">
          <p>
          The Plain Language Action and Information Network (PLAIN) is a community of federal employees dedicated to the idea that citizens deserve clear communication from government. We believe that using plain language saves federal agencies time and money and provides better service to the American public.
          </p>
      </div>
    </div>
    <div class="tablet:grid-col-4 usa-prose">
      <h3 class="padding-bottom-2">Take some action</h3>
      <p>Learn about upcoming events. This will be filled in later. This is placeholder text.</p>
    </div>
  </div>
</section>
