{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero bg-indigo">
  <div class="display-flex grid-container grid-row" id="hero-wrapper">
    <div class="grid-col" id="hero-left">
        <h1 class="usa-hero__heading text-base-lightest">Every interaction with the public is an opportunity to improve trust in the government</h1>
</div>
    <div class="grid-col flex-align-self-end" id="hero-right">
      <div id="hero-right-text">
      <p>GSA's Technology Transformation Services (TTS) exists to design and deliver a digital government with and for the American people.</p>
      </div>
    </div>
  </div>
</section>
