{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section bg-base-white">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <span class="padding-right-2 text-primary-dark">
        {% uswds_icon_with_size "forum", "9" %}
        </span>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Join the digital community</h3>
          <p>TTS’ Digital.gov is hosting the <a href="https://digital.gov/event/2022/08/24/2022-federal-plain-language-summit/">2022 Federal Plain Language Summit</a> on August 24. Hear more to plain language successes at all stages of the communications journey. Speakers address debunking myths, meeting varying audience’s needs, and more.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <span class="padding-right-2 text-primary-dark">
        {% uswds_icon_with_size "info_outline", "9" %}
        </span>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">See our services</h3>
          <p>TTS has dozens of services! <a href="{{ "/services" | url }}">Visit our services page</a> to learn more.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <span class="padding-right-2 text-primary-dark">
        {% uswds_icon_with_size "trending_up", "9" %}
        </span>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Get the largest federal technology contracts</h3>
          <p><a href="https://www.gsa.gov/technology/information-technology-category">GSA’s Information Technology Category</a> offers a full suite of IT and telecommunications products, services, and solutions from highly qualified industry partners.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
