{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section bg-base-white">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <span class="padding-right-2 text-primary-dark">
          {% image_with_class "_img/forum.svg" "forum" "Forum Icon" %}
        </span>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Join the digital community</h3>
          <p>At TTS we are dedicated to building better digital services in the government. Join other people in the federal government at <a href="https://digital.gov/">Digital.gov</a> where we offer helpful guides and other valuable resources as well as access to events and communities.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <span class="padding-right-2 text-primary-dark">
          {% image_with_class "_img/info_outline.svg" "info-outline" "Information Icon" %}
        </span>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">See our services</h3>
          <p>TTS provides solutions to improve transparency, security, and the efficiency of federal operations while also increasing citizen participation. <a href="{{ '/services' | url }}">See all the services offered by TTS.</a></p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <span class="padding-right-2 text-primary-dark">
          {% image_with_class "_img/trending_up.svg" "trending-up" "Trending Up Icon" %}
        </span>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Access the largest federal technology contracts</h3>
          <p><a href="https://www.gsa.gov/technology/it-contract-vehicles-and-purchasing-programs/information-technology-category">GSA’s Information Technology Category</a> offers a full suite of IT and telecommunications products, services, and solutions from highly qualified industry partners.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
