{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section bg-base-lighter">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
            {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "circle-15 margin-right-2" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Work with us</h3>
          <p>
            Graphic headings can be used a few different ways, depending on what
            your landing page is for. Highlight your values, specific program
            areas, or results.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
          {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "circle-15 margin-right-2" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">See our services</h3>
          <p>
            Keep body text to about 30 words. They can be shorter, but try to be
            somewhat balanced across all four. It creates a clean appearance
            with good spacing.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
          {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "circle-15 margin-right-2" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Join the conversation</h3>
          <p>
            Keep body text to about 30 words. They can be shorter, but try to be
            somewhat balanced across all four. It creates a clean appearance
            with good spacing.
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
