{% comment %}
You shouldn't have to edit this page very often. But if you want
to modify some of the meta-data for the site, this is the place to do it.
{% endcomment %}

{%- if page.title -%}
  {% assign effective_page_title = page.title -%}
{%- elsif title -%}
  {% assign effective_page_title = title -%}
{%- else -%}
  {%- assign effective_page_title = "No title" -%}
{%- endif -%}

{%- if site.title -%}
  {%- assign effective_title = effective_page_title | append: " | " | append: site.title -%}
{%- else -%}
  {%- assign effective_title = effective_page_title -%}
{%- endif -%}

{%- if page.description -%}
  {%- assign effective_description = page.description -%}
{%- elsif description -%}
  {%- assign effective_description = description -%}
{%- elsif site.description -%}
  {%- assign effective_description = site.description -%}
{%- else -%}
  {%- assign effective_description = "No description" -%}
{%- endif -%}

{%- if page.twitter -%}
  {%- assign effective_twitter = page.twitter -%}
{%- elsif twitter -%}
  {%- assign effective_twitter = twitter -%}
{%- elsif site.twitter -%}
  {%- assign effective_twitter = site.twitter -%}
{%- else -%}
  {%- assign effective_twitter = "" -%}
{%- endif -%}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Title and meta description
    ================================================== -->

  <title>{{ effective_title }}</title>

  <!-- tell robots to follow links in the content and index all the things -->
  <meta name="robots" content="index, follow" />

  {%- if site.google_verification_token -%}
  <meta name="google-site-verification" content="{{ site.google_verification_token }}" />
  {%- endif -%}

  <meta property="og:title" content="{{ effective_title }}" />
  <meta name="description" content="{{ effective_description }}" />
  <meta property="og:description" content="{{ effective_description }}" />

  <!-- use GSA's og:image as the social media preview image -->
  <meta property="og:image" content="https://www.gsa.gov/sites/gsa.gov/themes/custom/gsa/custom_assets/images/open_graph_image.jpeg" />
  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="1000" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ effective_twitter }}" />
  <meta name="twitter:title" content="{{ effective_title }}" />
  <meta name="twitter:description" content="{{ effective_description }}" />

  <meta property="og:type" content="article" />
  <link rel="canonical" href="{{ page.url }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <script async="" src="{{ assetPaths['uswds.js'] }} "></script>
  <!-- CSS
    ================================================== -->
    <link rel="preload" as="style" href="{{ assetPaths['styles.css'] }}" />
    <link rel="stylesheet" href="{{ assetPaths['styles.css'] }}" type="text/css" />

  <!-- favicon -->
    <link rel="icon" href="{{ '/assets/favicon.ico' | url }}" sizes="any" />
</head>