{%comment%}Pull in custom js{%endcomment%}
<script async src="{{ assetPaths['app.js'] }}"></script>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
{% if site.dap.agency %}
<script
  id="_fed_an_ua_tag"
  src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap.agency}}{% if site.dap.subagency %}&subagency={{site.dap.subagency}}{% endif %}&pga4={{ site.ga }}"
></script>
{% endif %}

{% if site.searchgov %}
  {% if site.searchgov.suggestions == true %}
    <script>
          var usasearch_config = { siteHandle: "{{ site.searchgov.affiliate }}" };
    </script>
    <script async src="https://search.usa.gov/javascripts/remote.loader.js" type="text/javascript"></script>
  {% endif %}
{% endif %}

<!-- Custom subnav toggle -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const toggle = document.querySelector('.usa-subnav-mobile-toggle');
      if (toggle) {
          toggle.addEventListener('click', function() {
              toggle.classList.toggle('open-subnav');
          });
      }

      if (window.innerWidth < 1024) {
          const sidenavItems = document.querySelectorAll('li.usa-sidenav__item');
          sidenavItems.forEach(function(item) {
              if (item.querySelector('ul')) {
                  item.classList.add('toggle-submenu');
              }
          });
      }

      const subtoggle = document.querySelectorAll('.toggle-submenu');
      subtoggle.forEach(function(toggle) {
          toggle.addEventListener('click', function() {
              toggle.classList.toggle('open-subnav');
          });
      });
  });
</script>

<!-- Conditionally hide past info sessions -->
<script>
  function hidePastInfoSessions() {
    const now = new Date().toLocaleString("en-US", { timeZone: "America/New_York" });
    const currentTimestamp = new Date(now).getTime();

    const infoSessionsGroup = document.querySelectorAll(".info-sessions-list");
    infoSessionsGroup.forEach(sessionGroup => {
      let visibleSessions = 0;

      // Convert sessionGroup.children to an array and loop over them
      Array.from(sessionGroup.children).forEach(session => {
        const session_timestamp = parseInt(session.getAttribute('data-session-end-timestamp'), 10);

        // Hide past sessions
        if (session_timestamp < currentTimestamp) {
          session.style.display = 'none'; // Hide past session
        } else {
          visibleSessions++; // Count future session
        }
      });

      console.log('Visible sessions in this group: ', visibleSessions);
    });
  }

  hidePastInfoSessions();
</script>
