{%comment%}Pull in custom js{%endcomment%}
<script async src="{{ assetPaths['app.js'] }}"></script>
<script async src="{{ assetPaths['subnav.js'] }}"></script>
<script defer src="{{ assetPaths['positions.js'] }}"></script>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
{% if site.dap.agency %}

<!-- nosemgrep: html.security.audit.missing-integrity.missing-integrity -->
<script
  async
  id="_fed_an_ua_tag"
  src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap.agency}}{% if site.dap.subagency %}&subagency={{site.dap.subagency}}{% endif %}&pga4={{ site.ga }}"
></script>
{% endif %}

{% if site.searchgov %}
  {% if site.searchgov.suggestions == true %}
    <script async>
          var usasearch_config = { siteHandle: "{{ site.searchgov.affiliate }}" };
    </script>
    <!-- nosemgrep: html.security.audit.missing-integrity.missing-integrity -->
    <script async src="https://search.usa.gov/javascripts/remote.loader.js" type="text/javascript"></script>
  {% endif %}
{% endif %}

<!-- Parse through liquid data needed for positions.js -->
<script defer>
  const layout = "{{layout}}";

  // Initialize the functions needed for the main join page
  if ( layout.includes('/jointts/home') ) {
    const allJobs = [];
    {% for job in collections.jobs %}
      allJobs.push({
        title: "{{ job.data.title }}",
        url: "{{ job.url }}",
        external_url: "{{ pg.data.external_url }}",
        opens: "{{ job.data.opens | htmlDateString }}",
        closes: "{{ job.data.closes | htmlDateString }}",
        max_applications: "{{ job.data.max_applications }}",
        info_sessions: {{ job.data.info_sessions | jsonify }}
      });
    {% endfor %}

    document.addEventListener("DOMContentLoaded", function () {
      sortJobs(allJobs);
    });

    const globalInfoSessions = [];
    {% for session in global_info_sessions %}
      globalInfoSessions.push({
        link: "{{ session.link }}",
        date: "{{ session.date | htmlDateString }}",
        time: "{{ session.time }}",
      });
    {% endfor %}

    document.addEventListener("DOMContentLoaded", function () {
      renderGlobalInfoSessions(globalInfoSessions);
    });
}

// Initialize the functions needed for the job listings.
if ( layout.includes('/jointts/job-listing') ) {
  const infoSessions = [];
  {% for session in info_sessions %}
    infoSessions.push({
      link: "{{ session.link }}",
      date: "{{ session.date | htmlDateString }}",
      time: "{{ session.time }}",
    });
  {% endfor %}

  const infoSessionsWrapper = document.getElementById('job-listing-info-sessions');

  document.addEventListener("DOMContentLoaded", function () {
    renderInfoSessions(infoSessions, infoSessionsWrapper);
  });
}

</script>
