<section id="service-category-picker">
  <ul class="usa-card-group">
      <li class="usa-card tablet:grid-col-4">
          <div class="usa-card__container">
              <div class="usa-card__header">
                  <h2 class="usa-card__heading">Products</h2>
              </div>
              <div class="usa-card__body">
                  <p>Smiley was monstrous proud of his frog, and well he might be, for fellers that had traveled and been everwheres, all said he laid over any frog that ever they seen.</p>
              </div>
              <div class="usa-card__footer">
                  <button type="button" class="usa-button width-full">Go</button>
              </div>
          </div>
      </li>
      <li class="usa-card tablet:grid-col-4">
          <div class="usa-card__container">
              <div class="usa-card__header">
                  <h2 class="usa-card__heading">Platforms</h2>
              </div>
              <div class="usa-card__body">
                  <p>Smiley was monstrous proud of his frog, and well he might be, for fellers that had traveled and been everwheres, all said he laid over any frog that ever they seen.</p>
              </div>
              <div class="usa-card__footer">
                  <button type="button" class="usa-button width-full">Go</button>
              </div>
          </div>
      </li>
      <li class="usa-card tablet:grid-col-4">
          <div class="usa-card__container">
              <div class="usa-card__header">
                  <h2 class="usa-card__heading">People</h2>
              </div>
              <div class="usa-card__body">
                  <p>Smiley was monstrous proud of his frog, and well he might be, for fellers that had traveled and been everwheres, all said he laid over any frog that ever they seen.</p>
              </div>
              <div class="usa-card__footer">
                  <button type="button" class="usa-button width-full">Go</button>
              </div>
          </div>
      </li>
</section>
