<section id="service-category-picker">
  <ul class="usa-card-group">
      <li class="usa-card tablet:grid-col-4">
          <div class="usa-card__container">
              <div class="usa-card__header">
                  <h2 class="usa-card__heading">Products</h2>
              </div>
              <div class="usa-card__body">
                  <p class="font-sans-xs">Shared infrastructure and tooling that helps agencies deliver faster. We provide building blocks and tooling that are commonly needed in the development and delivery of government digital services.</p>
              </div>
              {%- if page_data.url != '/services/products/' -%}
              <div class="usa-card__footer">
                  <a href="{{ "/services/products" | url}}" class="usa-button width-full">Go to products</a>
              </div>
              {%- endif -%}
          </div>
      </li>
      <li class="usa-card tablet:grid-col-4">
          <div class="usa-card__container">
              <div class="usa-card__header">
                  <h2 class="usa-card__heading">Platforms</h2>
              </div>
              <div class="usa-card__body">
                  <p class="font-sans-xs">Interagency experiences that create cohesion and economies of scale. When the public needs to interact with multiple agencies around the same or a similar need, we build and operate government-wide platforms to enable and centralize those interactions.</p>
              </div>
              {%- if page_data.url != '/services/platforms/' -%}
              <div class="usa-card__footer">
                  <a href="{{ "/services/platforms" | url}}" class="usa-button width-full">Go to platforms</a>
              </div>
              {%- endif -%}
          </div>
      </li>
      <li class="usa-card tablet:grid-col-4">
          <div class="usa-card__container">
              <div class="usa-card__header">
                  <h2 class="usa-card__heading">People</h2>
              </div>
              <div class="usa-card__body">
                  <p class="font-sans-xs">Discovery, implementation, and consulting to catalyze agency progress. When agencies need expertise to help to define, plan, and execute a vision for digital services that deliver good, human-centered customer experiences, we partner with the agency while also building capacity.</p>
              </div>
              {%- if page_data.url != '/services/people/' -%}
              <div class="usa-card__footer">
                  <a href="{{ "/services/people" | url}}" class="usa-button width-full">Go to people</a>
              </div>
              {%- endif -%}
          </div>
      </li>
</section>
