<nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    {% for link in links %}
      {% assign _href = link.href %}
      {% assign _current = false %}
      {% if link.href == data.url %}
        {% assign _current = true %}
      {% endif %}
    <li class="usa-sidenav__item">
      <a href="{% if link.external == true %}{{ link.href }}{% else %}{{ link.href | url }}{% endif %}"
         {% if _current %} class="usa-current" {% endif %}
         {% if link.class %}class="{{ link.class }}" {% endif %} >
         {{ link.text }}
      </a>
      {% if _current and subnav %}
      <ul class="usa-sidenav__sublist">
        {% render "subnav.html", links: subnav %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
