<button class="usa-subnav-mobile-toggle">Jump to section</button>
<nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    {% for link in links %}
      {% assign _href = link.url %}
      {% assign _current = false %}
      {% if link.url == data.url %}
        {% assign _current = true %}
      {% endif %}
    <li class="usa-sidenav__item">
      <a href="{{ link.url | url }}"
         {% if _current %} class="usa-current" {% endif %}
         {% if link.class %}class="{{ link.class }}" {% endif %} 
         >
         {{ link.name }}
      </a>
      {% if _current and subnav %}
      <ul class="usa-sidenav__sublist">
        {% render "subnav.html", links: subnav %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
