{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="usa-section usa-prose bg-gray-5">
  <div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-2 flex-align-self-center text-gray-5">
      {% image_with_class "_img/account_balance.svg" "account-balance" "Account Balance Icon" %}
    </div>
    <div class="tablet:grid-col-10 flex-align-self-center text-gray-90">
      <h2 class="font-heading-lg margin-top-0 tablet:margin-bottom-0">TTS vision: Trusted modern government experiences for all</h2>
      <p>For over 50 years, GSA has been working to improve access to government services. We apply modern methodologies and technologies to improve the lives of the public and public servants. We help agencies make their services more accessible, efficient, and effective with modern applications, platforms, processes, personnel, and software solutions. TTS services include 18F, Centers of Excellence, Presidential Innovation Fellows, FedRAMP, USAGov, Digital.gov, Cloud.gov, Login.gov and more.</p>
    </div>
  </div>
  </div>
</section>
