---
layout: layouts/base
---
<section class="usa-site-alert usa-site-alert--info usa-site-alert--slim" aria-label="Site alert">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <a href="{{ '/join/newsletter' | url }}" class="usa-link">Sign up for job alerts</a> to get notified when TTS positions that interest you are posted on the website.
      </p>
    </div>
  </div>
</section>
<div class="tts-title-banner">
  <img class="tts-banner-bg" src="{{ '/assets/services-bg.webp' | url }}" alt="TTS banner background image" height="200px" width="100%"/>
  <h1>{{ title }}</h1>
</div>

<section class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-12 usa-prose blog-content">
        <!-- Featured Image -->
        {%- if featured_image -%}
            {% assign featured_image_path = '/assets/' | append: featured_image %}
            <img src="{{ featured_image_path | url }}" alt="{{ title }} featured image" class="featured-image" />
        {%- endif -%}

        <div class="pub-info">
            <!-- Publish and Updated Date -->
            <p class="pub-date">
                {{ publish_date | readableDate }}
                {%- if updated_date -%}
                <span> | Updated on: {{ updated_date | readableDate }}</span>
                {%- endif -%}
            </p>
            
            <!-- Author -->
            {%- if author -%}
              <p class="author-info">By {{ author }}</p>
            {% endif %}
        </div>

        <!-- Content -->
        <article class="update-content">
          {{ post_content | markdown }}
        </article>

        <!-- Tags -->
        {%- if update_tags -%}
        <p class="update-tags">
          Tags: 
          {%- for tag in update_tags | split: "," -%}
          <span class="tag"> {{ tag | strip }}</span>
          {%- endfor -%}
        </p>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
