<p><strong>Salary:</strong> GS-{{ gs }} ({{min_payrange}} - {{max_payrange}})</p>
<p>Your salary, including base and locality, will be determined upon selection, dependent on your actual duty location. 
  Please note the maximum salary available for the GS pay system is $191,900. For specific details on locality pay, please 
  visit <a href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/" target="_blank">OPM's Salaries & Wages page</a> or for a salary calculator 
  <a href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/2024/general-schedule-gs-salary-calculator/" target="_blank">OPM's 2024 General Schedule (GS) Salary Calculator</a>. 
  You can find more information in our <a href="/join/compensation-and-benefits/" target="_blank">compensation and benefits section</a>.
</p>