<p><strong>Salary:</strong> 
  {% if gs == "SES" %}
    {{ gs }}
  {% else %}
    GS-{{ gs }}
  {% endif %}

  {% if gs != "SES" %}
    {% assign gs_salary_key = "GS-" | append: gs %}
  {% else %}
    {% assign gs_salary_key = gs %}
  {% endif %}

  {% if gs_salaries[gs_salary_key] %}
    (${{ gs_salaries[gs_salary_key].min_salary | numberWithCommas }} - ${{ gs_salaries[gs_salary_key].max_salary | numberWithCommas }})
  {% endif %}
</p>

<p>Your salary, including base and locality, will be determined upon selection, dependent on your actual duty location. 
  Please note the maximum salary available for the GS pay system is $191,900. For specific details on locality pay, please 
  visit <a href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/" target="_blank" rel="noopener">OPM's Salaries & Wages page</a> or for a salary calculator 
  <a href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/2024/general-schedule-gs-salary-calculator/" target="_blank" rel="noopener">OPM's 2024 General Schedule (GS) Salary Calculator</a>. 
  You can find more information in our <a href="/join/compensation-and-benefits/" target="_blank">compensation and benefits section</a>.
</p>
