---
layout: layouts/base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

{% include "banner.html" %}

<div class="usa-section grid-container{% if sidenav %} display-flex{% endif %}">
  {% if sidenav %}
  <div class="usa-layout-docs__sidenav desktop:grid-col-3 padding-right-4{% if page.sticky_sidenav %} usa-sticky-sidenav{% endif %}">
    {% render "sidenav.html", links: sidenav, subnav: subnav, data: page %}
  </div>
  <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
      {{ content }}
  </div>
  {% else %}
  <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose">
      {{ content }}
  </div>
  {% endif %}
</div>