@use "uswds-core" as *;

// Add any USWDS overrides here
// Alternatively, you could create an overrides folder and create individual override files

// custom tts color
$tts-tagline-bg: #1F303E;

// USWDS Hero component
.usa-hero--tts {
  height: 10rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size:  cover;
  padding:  0;
  @include at-media('mobile-lg') {
    position:  absolute;
    left:40%;
    height:100%;
    width: 60%;
  }
}

.tts-hero-wrap {
  background: url('../_img/TTS_Header_Dev.png');
  background-size: cover;

}

.tts-hero-people img {
  object-fit: contain;
}

.tts-hero-wrap {
  background-color: $tts-tagline-bg;
}

.tts-tagline {
  @include at-media('mobile-lg') {    
    min-height: 350px;
  }
}

// Services pages
.service .usa-card__container {
  border-radius: 0;
}

.service .usa-card__img {
  background-color: unset;
}

.usa-prose .usa-card {
  margin-bottom: 1rem;
}

.service .usa-card__media {
  min-height: unset;
}

.usa-prose p {
    max-width: unset;
}

footer {
    a {
      color: color('base-lightest');
      text-decoration: none;

    }
    a:hover {
      text-decoration: underline;
    }
}

.usa-social-link img {
  width: 100%;
}

.tts-service-logo {
  height: 50px;
    img {
      object-fit: contain;
      max-width: 180px;
    }
}

.tts-title-banner {
  background: url(../_img/Services_Background.png) center no-repeat #000000;
}


.tts-title-banner  h1 {
  text-transform: uppercase;
  font-size: 3.25rem;
  color: #ffffff;
  padding: 4.75rem 0;
  margin: 0;
  text-align: center;
}

h2, h3, h4, h5 {
  font-family: $theme-font-type-sans !important; 
}

.usa-identifier__logos img {
  width: 2.5rem;
  height: 2.5rem;
}

.usa-prose .usa-card:last-child {
  margin-bottom: 1rem;
}
