@use "uswds-core" as *;

// Add any USWDS overrides here
// Alternatively, you could create an overrides folder and create individual override files

// USWDS Hero component
.usa-hero {
  background-image: unset;
}

// Services pages
.service .usa-card__container {
  border-radius: 0;
}

.usa-prose .usa-card {
  margin-bottom: 1rem;
}

.service .usa-card__media {
  min-height: unset;
}
